@page
@model Mission10_mitchski.Pages.TransactionCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your business!</h2>
    <a class="btn btn-primary" asp-controller="Home" >Continue Shopping</a>
</div>
